@import url('./main-layout.css');


.nav-link {
    background: none;
}

.nav-link:active {
    border-bottom: 2px solid orange;
    background: none;
}

.logo {
    position: relative;
    display: inline-block;
    left: 0;
}

.nav-middle-items {
    display: flex;
    /* other styles */
}

@media screen and (max-width: 1023px) {
    .nav-middle-items {
        display: none !important;
    }
}

.side-menu {
    display: flex;
}

@media screen and (min-width: 1023px) {
    .side-menu {
        display: none !important;
    }
}

.side-menu-items {
    border-top: 1px solid #333333;    /* Dark grey top border */
    right: 0;
    width: 162px;
    cursor: pointer;
}

.side-menu-items > * {
    pointer-events: none;
}

.active-side-menu-item {
    border-left: 9px solid orange;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30vh); /* Subtract header height */
}

.left-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30vh); /* Subtract header height */
}

.right-container {
    width: 70%;
}

.left-wrapper {
    width: 30%;
}

.top-item {
    max-width: 595.86px;
    min-width: 390.94px;
}

@media screen and (max-width: 1023px) {

    .top-item {
        max-width: 100%;
    }

    .right-container {
        width: 100%;
    }

    .left-container {
        display: none !important;
    }

    .left-wrapper {
        width: 0%;
    }
}

.header-height {
    height: 176px;
}

.pageGreeting {
    /* font-size: 3rem; */
    font-size: 48px;
    margin-top: 25px;
}

.subText {
    /* font-size: 1.5rem; */
    font-size: 24px;
}

@media screen and (max-width: 1023px) {
    .header-height {
        height: 128px;            
    }

    .pageGreeting {
        /* font-size: 1.875rem; */
        font-size: 30px;
    }
    
    .subText {
        /* font-size: 1rem; */
        font-size: 16px;
    }

}